img {
  max-height: 243px;
  /* vertical-align: middle;
   box-shadow: 10px 10px 10px black; 
  margin:auto;
  position: absolute;
  vertical-align: middle; */
} 

#card-hover:hover{
  background-color: aqua;
}



h1 {
  text-align: center;
}
